<MudCard Class="border-2 mb-5 pa-5">
    <MudText Align="Align.Center" Typo="Typo.body1">UPCOMING DRAW</MudText>
    <MudProgressLinear Size="Size.Large" Color="Color.Primary" Value="@Value" Class="my-5" Max="MaxValue" />
    <div class="flex justify-between items-center">
        <MudText Typo="TextSize">Starting In:</MudText>
        <div class="flex justify-around items-center ">
            <div class="flex flex-col justify-center">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@Hours.ToString("D2")</MudText>
                </MudPaper>
            </div>
            <MudText Typo="Typo.h5">:</MudText>
            <div class="flex flex-col justify-center">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@Minutes.ToString("D2")</MudText>
                </MudPaper>
            </div>
            <MudText Typo="Typo.h5">:</MudText>
            <div class="flex flex-col justify-center">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@Seconds.ToString("D2")</MudText>
                </MudPaper>
            </div>
        </div>
    </div>
</MudCard>