<MudCard Class="border-2 mb-5 pa-5">
    <MudText Align="Align.Center" Typo="Typo.body1">UPCOMING DRAW</MudText>
    <MudProgressLinear Size="Size.Large" Color="Color.Primary" Class="my-5" Value="CurrentValue" Max="MaxValue" Min="MinValue" />
    <div class="flex justify-between">
        <div class="@HideSectionsInCard()">
            <MudText Typo="TextSize">Starting In:</MudText>
        </div>
        <div class="flex justify-end">
            <div class="flex flex-col justify-center mr-2">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@TimeInterval.Days.ToString("D2")</MudText>
                </MudPaper>
                <span class="text-center @HideSectionsInCard()">Days</span>
            </div>
            <div class="flex flex-col justify-center mr-2">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@TimeInterval.Hours.ToString("D2")</MudText>
                </MudPaper>
                <span class="text-center @HideSectionsInCard()">Hours</span>
            </div>
            <div class="flex flex-col justify-center mr-2">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@TimeInterval.Minutes.ToString("D2")</MudText>
                </MudPaper>
                <span class="text-center @HideSectionsInCard()">Minutes</span>
            </div>
            <div class="flex flex-col justify-center">
                <MudPaper Class="d-flex justify-center items-center mud-theme-primary" Width="@PaperSize" Height="@PaperSize">
                    <MudText Typo="Typo.h5">@TimeInterval.Seconds.ToString("D2")</MudText>
                </MudPaper>
                <span class="text-center @HideSectionsInCard()">Seconds</span>
            </div>
        </div>
    </div>
</MudCard>