<div class="max-w-[250px] border-1 border-black border-solid @SessionStatusClass()">
    <MudCard Class="m-0">
        <MudCardContent>
            <MudText>Session Id: @SessionDetails.Id</MudText>
            <MudText Typo="Typo.body2">Session Name: @SessionDetails.Name</MudText>
            <MudText Typo="Typo.body2">Current Prize</MudText>
            <MudText Typo="Typo.h5">@SessionDetails.PrizePool</MudText>
            <h4>Upcoming Draw:</h4>
            <CountdownTimer Interval=@Interval />
            <CombinationResult />
            @* NOTE: Create a buy ticket Modal *@
            <MudText Typo="Typo.subtitle1">Ticket Price: @SessionDetails.TicketPrice</MudText>
            <MudButton Color="Color.Primary">Buy Ticket Now</MudButton>
        </MudCardContent>
    </MudCard>
</div>
